# Exclude development files from Composer package distribution
/.docker            export-ignore
/.github            export-ignore
/.vscode            export-ignore
/docs               export-ignore
/tests              export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore
contributing.md     export-ignore
Makefile            export-ignore
